src/main/resources/Gem.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="DiamondFund">
        <complexType>
            <sequence>
                <element name="gem" maxOccurs="unbounded" minOccurs="0">
                    <complexType>
                        <sequence>
                            <element name="VisualParameters">
                                <complexType>
                                    <sequence>
                                        <element type="string" name="color"/>
                                        <element type="byte" name="numberOfFaces"/>
                                        <element type="float" name="transparency"/>
                                    </sequence>
                                </complexType>
                            </element>
                            <element type="string" name="name"/>
                            <element type="string" name="origin"/>
                            <element type="string" name="preciousness"/>
                            <element type="float" name="value"/>
                        </sequence>
                        <attribute type="byte" name="id" use="optional"/>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>