src/main/resources/Gem.xsd

<schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
  <element name="DiamondFund">
    <complexType>
      <sequence>
        <element name="Gem" maxOccurs="unbounded" minOccurs="0">
          <complexType>
            <sequence>
              <element type="string" name="color"/>
              <element type="int" name="id"/>
              <element type="string" name="name"/>
              <element type="byte" name="numberOfFaces"/>
              <element type="string" name="origin"/>
              <element type="string" name="preciousness"/>
              <element name="transparency">
                <simpleType>
                  <restriction base="byte">
                    <minInclusive value="0"/>
                    <maxInclusive value="100"/>
                  </restriction>
                </simpleType>
              </element>
              <element type="float" name="value"/>
            </sequence>
          </complexType>
        </element>
      </sequence>
    </complexType>
  </element>
</schema>